body{
    margin:0;
    overflow-y:scroll;
}
#active {
    color:rgb(55, 0, 255);
}
.all {
    color:cornflowerblue;   
}
.saw {
    color:rgb(134, 68, 134);
}
h1 {
    font-size:45px;
    border-bottom:2px solid gray;
    margin:0px;
    text-align: center;
    padding:20px;
}
input {
    padding:0px;
    display:inline;
    float:left;
    width:50px;
    height:20px;
}
h2 {
    display:inline
}
a:link {
    color:cornflowerblue;   
    text-decoration: none;
}
a:visited {
    color:darkcyan;
}
ol {
    border-right: 2px solid gray;
    width:160px;
    margin:0px;
    padding: 0px;
    padding-left: 32px;
}
#grid{
    display: grid;
    grid-template-columns: 200px 1fr;
    border-bottom:2px solid gray;
}
#article{
    padding:25px;
    padding-top:25px;
}
@media(max-width:550px){
    #grid{
    display: block;
}
    ol {
    border-right:none;
}
    h1 {
        border-bottom:none;
    }
}   
.night {
    background-color: black;
    color: white;   
}
.night #active {
    color:pink;
}
.night a:visited {
    color:skyblue;
}